/* RESET */
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
}
/* END RESET */

html {
    height: 100%;
}

body {
    height: 100%;
}

.view-screen {
    width: 100%;
    height: 100%;
    background-color: black;
    border: 1px solid #444444;
}

.eight-puzzle {
    margin: 0;
    width: 272px; /* 270 + 4 (borders) */
    height: 272px; /* 270 + 4 (borders) */
    border: 2px solid #444444;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}
    .eight-puzzle ul {
        margin: 0;
        padding: 0;

        list-style: none;
        font-size: 0;
    }
    .eight-puzzle li {
        display: inline-block;
        margin: 5px;
        width: 76px; 
        height: 76px; 
        border: 1px solid black;
        color: black;
        background-color: white;

        line-height: 76px;
        font-size: 40px;
        text-align: center;
    }
        .eight-puzzle li.incorrect {
/* */       background-color: #99bbff;
            color: black;
        }

        .eight-puzzle li.correct {
            background-color: #99bbff;
            color: black;
        }
