<html>
<head>
	<title>8-Puzzle</title>
	 <link rel="stylesheet" href="static/css/index.css">
</head>

<body>
 <div class="view-screen">
    <div class="eight-puzzle">
    </div>
    <br>
    <div class="buttons" style="text-align: center;">
    <button style="padding: 7px 7px 7px 7px;" onclick="myFunction()">SOLVE</button>
    <button style="padding: 7px 7px 7px 7px;" onclick="location.reload()">RESTART</button>
	</div>
 </div>
<script src="static/js/jquery-3.2.1.js"></script>
<script src="static/js/index.js"></script>
</body>
</html>